[Unit]
Description=Voice Assistant


[Service]
Environment=VIRTUAL_ENV=/home/__user__/env
ExecStart=/home/__user__/env/bin/python -u /home/__user__/AI-Voice-Assistant/src/main.py 

[Install]
WantedBy=multi-user.target

